center.content-block-title Financials
.content-block
  p = link_to "Performance Dashboard", performance_dashboard_path, class: 'button button-big button-fill'
  p = link_to "Health Indicator", health_indicator_path, class: 'button button-fill button-big color-yellow'