fieldset.border id="invoice#{invoice.id}"
  - unless print_status?
    = render 'accounting/invoices/invoice_ctrls', invoice: invoice, show: 'multiple'
  = render 'accounting/invoices/invoice_info', invoice: invoice