.ui-tabs-vertical {
  width: 100%;
  display: table;
  .ui-tabs-nav {
    display: table-cell;
    vertical-align: top;
    background: #DDD;
    padding: .2em .1em .2em .2em;
    width: 15em;
    li {
      clear: left;
      width: 100%;
      border-bottom-width: 1px !important;
      border-right-width: 1px !important;
      margin: 0 -1px .2em 0;
      &.ui-tabs-active {
        padding-bottom: 0;
        padding-right: .1em;
        border-right-width: 1px;
      }
      a{
        display: block;
        &.ui-tabs-anchor{
          float: none;
        }
      }
    }
  }
  .ui-tabs-panel {
    padding: 5px 15px !important;
    display: table-cell;
    vertical-align: top;
    // width: 80em;
  }
}