$base: #0088ce;
$black: #000;
$white: #FFF;
$blue: #15C;
$lblue: #4099FF;
$green: #27AE60;
$light-green: #F1FFF2;
$dark-green: darken($green, 10%);
$red: red;
$light-red: #FFF6F6;
$dark: #413d3d;
$gray: #bcbcbc;
$yellow: #FF0;
$brown: #F0AD4E;
$button: darken($gray, 42%);
$dark-gray: darken($gray, 35%);
$gray5: darken($gray, 5%);
$gray10: darken($gray, 10%);
$gray20: darken($gray, 20%);
$gray30: darken($gray, 30%);
$gray40: darken($gray, 40%);
$gray45: darken($gray, 45%);
$gray50: darken($gray, 50%);
$gray60: darken($gray, 60%);
$gray-5: lighten($gray, 5%);
$gray-10: lighten($gray, 10%);
$gray-15: lighten($gray, 15%);
$gray-20: lighten($gray, 20%);
$gray-25: lighten($gray, 25%);
$gray-30: lighten($gray, 30%);
$gray-35: lighten($gray, 35%);
$gray-40: lighten($gray, 40%);
$label: darken($gray, 50%);
$border: darken($gray, 20%);
$light-dark: lighten($dark, 40%);
